.nav-bar {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
    font-size: 28px;

    border-bottom: lightgrey 1px solid;
}

.nav-icon {
    padding: 0px 2px;
    cursor: pointer;
    box-sizing: initial;
    vertical-align: initial;
}

.hidden-icon {
    color: transparent;
}

.title {
    font-size: 34px;
    font-family: Anton, fantasy;
    text-align: center;
}
