.emptyCell {
    border: 2px solid lightgrey;
}

.activeCell {
    border: 2px solid gray;
    -webkit-animation: pop 0.1s linear ;
            animation: pop 0.1s linear ;

}

@keyframes pop {
    0% {
        transform: scale(1.15);
    }
    100% {
        transform: scale(1);
    }
}

.baseCell {
    width: 60px;
    height: 60px;
    margin: 2px;

    font-weight: bold;
    font-size: 28px;
    line-height: 60px;

    text-align: center;
}

.letterDisplay {
    margin: auto;
}

.incorrectLetterCell {
    border: 2px solid var(--colour-incorrect);
    background: var(--colour-incorrect);
}

.closeLetterCell {
    border: 2px solid var(--colour-close);
    background: var(--colour-close);
}

.correctLetterCell {
    border: 2px solid var(--colour-correct);
    background: var(--colour-correct);
}

@keyframes reveal-guess {
    0% {
        transform: rotateX(0);
    }
    50% {
        transform: rotateX(90deg);
    }
    100% {
        transform: rotateX(0);
    }
}

/* Used for animations */
.revealedLetter { }

.revealedLetter:nth-child(1) {
    animation: reveal-guess 500ms linear both;
}

.revealedLetter:nth-child(2) {
    animation: reveal-guess 500ms linear 300ms both;
}

.revealedLetter:nth-child(3) {
    animation: reveal-guess 500ms linear 600ms both;
}

.revealedLetter:nth-child(4) {
    animation: reveal-guess 500ms linear 900ms both;
}

.revealedLetter:nth-child(5) {
    animation: reveal-guess 500ms linear 1200ms both;
}
